html {
  height:100%;
}
body {
  margin:0;
  /*text-align: center;*/
  height:100%;
  background-color: #C0C0C0;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  /*margin: auto;*/
  text-align:center;
}

.topnav a {
  /*float: left;*/
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/*now the definitions for elements according to the pages*/
#picdiv {
  display: flex;
  float: left;
  width: 40%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.img-circle{
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  display: block;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
}
#hometext {
  display: flex;
  align-items: center;
  width: 60%;
  float: right;
  color: black;
  font-size:35px;
  height: 100%;
  justify-content: left;
}

/*This is now for acads page*/
.acads {
  display: block;
  /*height: 100%;*/
  padding-left: 40px;
  padding-top: 50px;
  font-size: 35px;
  color: black;
  justify-content: center;
}
/*This is for personal interests page*/
.personal {
  display: inline-block;
  font-size: 30px;
  color: black;
  width: 100%;
  /*height: 100%;*/
  align-items: left;
  padding-left: 40px;
  /*padding-right: 40px;*/
  /*margin-right: 40px;*/
}
/*these are the defining properties for counter div*/
#count {
  display:flex;
  font-size:35px;
  height:100%;
  padding:50px;
  margin-top: 100px;
  /*align-items: center;*/
  justify-content: center;
}

/*These are for form page*/
#form2{
  display: flex;
  font-size: 30px;
  height: 100%;
  /*padding-left: 50px;*/
  padding-top: 50px;
  /*margin-left: 50px;*/
  width: 50%;
  float: left;
  align-items: center;
  justify-content: center;
}
#display1{
  display:flex;
  font-size:30px;
  height: 100%;
  padding-top: 50px;
  width: 50%;
  float: right;
  justify-content: left;
  align-items: center;
}

#mybox{
  width: 70%;
  height: 70%;
  color: black;
  font-size: 30px;
}

#submit2{
  font-size:30px;
}

.bf{
  font-size: 35px;
}
td{
  padding: 10px;
}
.mytable{
  text-align:center;
  border-collapse: collapse;
}
