body{ 
	position: relative;
	padding-top: 50px; 
	font-family: 'Lato', sans-serif;
	width: 100%;
    overflow-x: hidden;

}
.container-fluid {
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h1{
	font-size: 4em;
}
h3{
	font-size: 2em;
}
#b1{
	font-size:2em;
	border-radius: 25px;
	background-color: #1ea9e5;
}
#b1:hover{
	background-color: #003366;
}
#list{
	font-size: 1.5em;
}

ol>li{
	color: #003366;
}
ol>li>ul>li>span{
	color: white;
}

#nav1{
	padding-top: 13px; 
}


#home{
	padding-top:15px;
	color: #fff; 
	background-color: #1ea9e5;
	padding-bottom: 50px;
	height: 100vh;
}
#home1{
	margin-top: 40px;
}


#academics{
	background-color: #fff;
	color: #003366;
	padding-bottom: 50px;
}
#acad1{
	margin-left: 50px;
}
#acad{
	margin-top: 70px;
}


#projects{
	background-color: #1ea9e5;
	color: #fff;
	padding-bottom: 50px;
}
#pro1{
	margin-top: 70px;
}

#pro{
	margin-left: 50px;
}


#resume{
	padding-top:0px;
	padding-bottom: 50px;
	color: #003366;
	background-color: #fff;
}
#res1{
	margin-top: 60px;
}
#res{
	margin-top: 20px;
}
#contact{
	padding-bottom: 50px;
	background-color: #1ea9e5;
	color: #fff;
}
#con1{
	margin-top: 70px;
}

#icons{
	font-size: 1.5em;
}

#foot{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #003366;
	color: #ffffff;
}
.fa-facebook,.fa-google,.fa-github{
	color:#003366;
}
.btn{
	margin-top: 20px;
	background-color: #1ea9e5;
	border: 2px solid #ffffff;
}
.btn-primary-outline:hover{
	background-color: #ffffff;
}
.btn-circle{
	border-radius: 100%;
}

/* For custom navbar properties, used an amazing tool, */
.navbar{
	height: 80px;
}
.navbar-nav{
	display: inline-block;
	float: none;
}

.navbar-default {
  background-color: #003366;
  border-color: #003366;
}

.navbar-default .navbar-brand {
  color: #ffffff;
  font-size: 2.5em;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #1ea9e5;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #1ea9e5;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #1ea9e5;
  background-color: #003366;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #1ea9e5;
  background-color: #003366;
}
.navbar-default .navbar-toggle {
  border-color: #003366;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #003366;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #1ea9e5;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
  	background-color: #003366;
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: black;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #1ea9e5;
    background-color: #003366;
  }
}
